<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" th:href="@{/css/board/detail2.css}">
</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="detail">
        <div class="detail-con">
            <h1>게시글상세보기</h1>
            <form th:action="@{/board/update2}" method="post" enctype="multipart/form-data">
                <div class="top">
                <div class="left">
                    <div class="left-con">
                        <th:block th:if="${board.attachFile==1}">
                            <img th:src="@{|/upload/${board.newFileName}|}" alt="이미지대체문구" style="height: 400px; width: 400px;">
                        </th:block>
                        <th:block th:unless="${board.attachFile==1}">
                            <img src="https://placehold.co/400x500?text=NOIMAGE" alt="이미지대체문구">
                        </th:block>
                    </div>
                </div>
                <ul>
                    <li>
                        <label for="title">title</label>
                        <input type="text" id="title" th:field="${board.title}">
                        <input type="hidden" th:field="${board.id}" id="id" readonly>
                    </li>
                    <li>
                        <label for="content">content</label>
                        <input type="text" id="content" th:field="${board.content}">
                    </li>
                    <li>
                        <label for="boardPw">boardPw</label>
                        <input type="text" id="boardPw" th:field="${board.boardPw}">
                    </li>
                    <li>
                        <label for="nickName">nickName</label>
                        <input type="text" id="nickName" th:field="${board.nickName}">
                    </li>
                    <li>
                        <label for="hit">조회수</label>
                        <input type="text" id="hit" th:field="${board.hit}">
                    </li>
                    <li>
                        <label for="memberId">memberId</label>
                        <input type="text" name="memberId" th:value="${board.memberEntity.id}" readonly>
                    </li>
                    <li>
                        <span >작성일</span>
                        <span  th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd HH:mm')}"> </span>
                    </li>
                    <li>
                        <span >최종수정일</span>
                        <span th:text="${#temporals.format(board.updateTime, 'yyyy-MM-dd HH:mm')}"></span>

                    </li>
                    <li>
                        <label for="boardFile">FILE</label>
                        <input type="file" name="boardFile" id="boardFile">
                    </li>
                    <li>
                        <input type="submit" class="li-last" value="수정">
                        <a th:href="@{/board/boardList4}" class="li-last">목록</a>
                        <a th:href="@{/board/delete2/{id}(id=${board.id})}" class="li-last">삭제</a>
                    </li>
                </ul>
                </div>
            </form>
            <div class="bottom">
            <hr>
            <h3>댓글</h3>
            <!--댓글 작성-->
            <div class="reply-write">
                <ul>
                    <li>
                        <!--게시글ID-->
                        <input type="text" id="boardId" th:value="${board.id}" readonly>
                    </li>
                    <li>
                        <!--회원ID, 로그인 후, 테스트 중-> 직접 작성-->
                        <input type="text" id="memberId" th:value="${board.memberId}">
                        <!--작성자-->
                        <input type="text" id="replyWriter" value="" placeholder="작성자">
                        <input type="text" id="replyContent" placeholder="댓글을 입력하세요">
                        <button type="button" onclick="saveReply()">작성</button>
                    </li>
                </ul>
            </div>
            <!-- 댓글 목록-->
            <div class="reply-list" id="replyList"></div>
        </div>
        </div>
    </div>
</div>
        <script th:src="@{/js/reply.js}"></script>
        <div th:replace="~{fragments/common/footer :: footerFragment}"></div>
</body>
</html>